<html>
    <head>
        <title>Croquet Extension Template</title>
        <link rel="shortcut icon" href="../icon.png" type="image/x-icon" />

        <script src="https://croquet.studio/sdk/croquet-latest.min.js"></script>
    </head>

    <body>
        <h1>Croquet Extension Template</h1>
    </body>

    <script type="module" defer>
        import Extender from "../extension.js";
        import Extension from "./extension.js";

        class Model extends Extender.extendModel(Croquet.Model, Extension.modelExtension) {
            init() {
                super.init();
            }
        }

        class View extends Extender.extendView(Croquet.View, Extension.viewExtension) {
            constructor(model) {
                super(model);
                this.model = model;
                window.view = this;
            }
        }

        Model.register();
        Croquet.startSession("croquet-extension-template", Model, View);
    </script>
</html>